/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border: solid black 1px;
}


.color-arrow {
    background-color: blue;
}


/* Header */
header {
    position: sticky;
    top: -1px;
    height: auto;
    width: 100%;
    background-color: #1d428a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 5px 0px black;
    z-index: 999;
}

/* Header logo */
header .logo img {
    margin-top: 5px;
    height: 60px;
}

header a:hover:not(.colored-nav){
    color: #4c8ff1;
}

/* Header main links */
header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    box-sizing: border-box;
    position: relative;
    float: left;

}

header nav ul li a {
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    display: block;
}

header nav ul li ul li a:hover {
    background-color: rgb(210, 216, 221);
}

header nav ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: white;
    display: none;
}


header nav ul li ul li {
    width: 100%;
    color: black;
    padding: 5px;
}

header nav ul li ul li a {
    color: black;
    letter-spacing: .5px;
}

nav ul li:hover>ul {
    display: initial;
}

nav ul li:hover>.arrow {
    display: initial;
}

.arrow {
    --arrow-size: 6px;
    opacity: 1;
    position: absolute;
    width: 0;
    height: 0;
    border: var(--arrow-size) solid transparent;
    border-bottom-color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.colored-nav{
    color: #4c8ff1;
}

/* Header buttons */
.header-btns {
    color: rgb(255, 255, 255);
    display: none;
    align-items: center;
    gap: 20px;
}

.league-pass-btn {
    background-color: rgb(255, 188, 64);
    padding: 7px 5px;
    border-radius: 5px;
    color: black;
    transition: .3s;
}

.league-pass-btn:hover {
    background-color: rgb(255, 166, 0);
}

.sign-in-btn {
    color: white;
}

.header-menu-btn {
    font-size: 50px;
    display: none;
}

.header-menu-btn i {
    margin-top: 10px;
    font-size: 50px;
}


.header-menu-btn ul li {
    position: relative;
    float: left;
}

.header-menu-btn ul li a {
    color: black;
    font-size: 25px;
    display: block;
    padding: 10px;
}

.header-menu-btn li ul li:hover {
    background-color: rgb(210, 216, 221);
}

.header-menu-btn ul li ul {
    padding: 5px;
    position: absolute;
    right: 0px;
    width: 200px;
    background-color: white;
    display: none;
}

.header-menu-btn ul li ul li {
    width: 100%;
}

.header-menu-btn ul li:hover>ul {
    display: initial;
}

.header-menu-btn ul li:hover>.arrow {
    display: initial;
}

/* Main */
main{
    position: relative;
    padding: 40px 20px;
}

.main-wrapper{
    background-color: white;
    margin: auto;
    padding: 10px 5px;
    width: 50%;
}

/* Form */

.red-Snowflake{
    color: red;
}

.form-title{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.7em;
    font-weight: 400;
    margin: 0px 0px 0px 0px;

}

.private-info-input-block{
    margin: 20px 0px 0px 0px;
    width: 100%;
}

.private-info-input-block input{
    /* width: auto; */
    width: 350px;
    height: 30px;
    padding: 5px 15px;
    border: solid black 1px;
    border-radius: 3px;

}

.topic-block{
    margin: 20px 0px 0px 0px;
    width: 100%;
}

.topic-block select{
    width: 100%;
    height: 30px;
    padding: 5px 15px;
    border: solid black 1px;
    border-radius: 3px;
}



.message-block{
    margin: 20px 0px 0px 0px;
    width: 100%;
}

.message-block textarea{
    resize: none;
    width: 350px;
    height: 200px;
    padding: 15px 15px;
    border: solid black 1px;
    border-radius: 3px;
}

.form-btn{
    margin: 20px 0px 0 0px;
    height: 30px;
    width: 90px;
}

.form-btn button{
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;

}



/* Footer */
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 40px;
    background-color: #333333;
    display: flex;
    justify-content: center;
}

.footer-txt{
    color: white;
}


.footer-txt-title{
    font-weight: 600;
    font-size: 20px;
}

.footer-txt-article{
    font-weight: 300;
    font-size: 12px;
}

.footer-img img{
    height: 10px;
}

.footer-icons{
    display: flex;
    gap: 20px;
    margin-top: 5px;
    font-size: 30px;
}

.footer-icons a{
    color: white;
}