/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    background-color: #edeef0;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border: solid black 1px;
}


.color-arrow {
    background-color: blue;
}


/* Header */
header {
    position: sticky;
    top: -1px;
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px 0px black;
    z-index: 999;
}

/* Header logo */
header .logo img {
    margin-top: 5px;
    height: 40px;
}

/* Header main links */
header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    box-sizing: border-box;
    position: relative;
    float: left;

}

header nav ul li a {
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    display: block;
}

header nav ul li ul li a:hover {
    background-color: rgb(210, 216, 221);
}

header nav ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: white;
    display: none;
}


header nav ul li ul li {
    width: 100%;
    color: black;
    padding: 5px;
}

header nav ul li ul li a {
    color: black;
    letter-spacing: .5px;
}

nav ul li:hover>ul {
    display: initial;
}

nav ul li:hover>.arrow {
    display: initial;
}

.arrow {
    --arrow-size: 6px;
    opacity: 1;
    position: absolute;
    width: 0;
    height: 0;
    border: var(--arrow-size) solid transparent;
    border-bottom-color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}


/* Header buttons */
.header-btns {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 20px;
}

.league-pass-btn {
    background-color: rgb(255, 188, 64);
    padding: 7px 5px;
    border-radius: 5px;
    color: black;
    transition: .3s;
}

.league-pass-btn:hover {
    background-color: rgb(255, 166, 0);
}

.sign-in-btn {
    color: white;
}

.header-menu-btn {
    font-size: 50px;
    display: none;
}

.header-menu-btn i {
    margin-top: 10px;
    font-size: 50px;
}


.header-menu-btn ul li {
    position: relative;
    float: left;
}

.header-menu-btn ul li a {
    color: black;
    font-size: 25px;
    display: block;
    padding: 10px;
}

.header-menu-btn li ul li:hover {
    background-color: rgb(210, 216, 221);
}

.header-menu-btn ul li ul {
    padding: 5px;
    position: absolute;
    right: 0px;
    width: 200px;
    background-color: white;
    display: none;
}

.header-menu-btn ul li ul li {
    width: 100%;
}

.header-menu-btn ul li:hover>ul {
    display: initial;
}

.header-menu-btn ul li:hover>.arrow {
    display: initial;
}

/* second nav */
.small-nav{
    z-index: 998;
    position: sticky;
    top: 53px;
    left: 0px;
    right: 0px;
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    justify-content: left;
    overflow: auto; 
}

.small-nav ul{
    list-style: none;
    display: flex;
}

.small-nav li{
    padding: 10px 30px;
}

.lined{
    border-bottom: solid black;
}

.small-nav li:hover:not(.no-line){
    border-bottom: solid black;
}

.small-nav a{
    color: black;
}

.small-nav .bold-txt{
    border-right: solid black;
    padding: 5px 15px
}

/* Main */
main{
    position: relative;
    padding: 70px 40px;
    flex: 1 1 auto;
}

/* teams block */
.main-team-block{
    background-color: white;
    padding: 30px 20px 20px 20px;
    width: 1140px;
    margin: auto;
}

.main-team-block-title{
    font-size: 30px;
}

.teams-block{
    display: grid;
    grid-template-columns: auto auto auto;
}

.team-column{
    margin: auto;
}

.team-division-title{
    font-weight: 600;
    letter-spacing: 1px;
    margin: 20px 0px 5px 0px;
}

.division-teams{
    margin: 0px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.division-teams img{
    height: 40px;
}


.team-logo-name{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}



/* Footer */
footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    right: 0px;
    padding: 10px 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.footer-txt{
    color: white;
}

.footer-txt-title{
    font-weight: 600;
    font-size: 20px;
}

.footer-txt-article{
    font-weight: 300;
    font-size: 12px;
}

.footer-img img{
    height: 10px;
}

.footer-icons{
    display: flex;
    gap: 20px;
    margin-top: 5px;
    font-size: 30px;
}

.footer-icons a{
    color: white;
}