/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    background-color: #edeef0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border: solid black 1px;
}


.color-arrow {
    background-color: blue;
}


/* Header */
header {
    position: sticky;
    top: -1px;
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px 0px black;
    z-index: 999;
}

/* Header logo */
header .logo img {
    margin-top: 5px;
    height: 40px;
}

/* Header main links */
header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    box-sizing: border-box;
    position: relative;
    float: left;

}

header nav ul li a {
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    display: block;
}

header nav ul li ul li a:hover {
    background-color: rgb(210, 216, 221);
}

header nav ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: white;
    display: none;
}


header nav ul li ul li {
    width: 100%;
    color: black;
    padding: 5px;
}

header nav ul li ul li a {
    color: black;
    letter-spacing: .5px;
}

nav ul li:hover>ul {
    display: initial;
}

nav ul li:hover>.arrow {
    display: initial;
}

.arrow {
    --arrow-size: 6px;
    opacity: 1;
    position: absolute;
    width: 0;
    height: 0;
    border: var(--arrow-size) solid transparent;
    border-bottom-color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}


/* Header buttons */
.header-btns {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 20px;
}

.league-pass-btn {
    background-color: rgb(255, 188, 64);
    padding: 7px 5px;
    border-radius: 5px;
    color: black;
    transition: .3s;
}

.league-pass-btn:hover {
    background-color: rgb(255, 166, 0);
}

.sign-in-btn {
    color: white;
}

.header-menu-btn {
    font-size: 50px;
    display: none;
}

.header-menu-btn i {
    margin-top: 10px;
    font-size: 50px;
}


.header-menu-btn ul li {
    position: relative;
    float: left;
}

.header-menu-btn ul li a {
    color: black;
    font-size: 25px;
    display: block;
    padding: 10px;
}

.header-menu-btn li ul li:hover {
    background-color: rgb(210, 216, 221);
}

.header-menu-btn ul li ul {
    padding: 5px;
    position: absolute;
    right: 0px;
    width: 200px;
    background-color: white;
    display: none;
}

.header-menu-btn ul li ul li {
    width: 100%;
}

.header-menu-btn ul li:hover>ul {
    display: initial;
}

.header-menu-btn ul li:hover>.arrow {
    display: initial;
}

/* header small nav */
.small-nav{
    position: sticky;
    z-index: 998;
    top: 53px;
    left: 0px;
    right: 0px;
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    justify-content: left;
    overflow: auto;
}

.small-nav ul{
    list-style: none;
    display: flex;
}

.small-nav li{
    padding: 10px 30px;
}

.lined{
    border-bottom: solid black;
}

.small-nav li:hover:not(.no-line){
    border-bottom: solid black;
}

.small-nav a{
    color: black;
}

.small-nav .bold-txt{
    border-right: solid black;
    padding: 5px 15px
}


/* Main */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* history banner */
.history-banner{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.history-banner img{
    width: 100%;
}

/* banner block */
.banner-block{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.banner-block img{
    width: auto;
    cursor: pointer;
}

/* wrapper */
.main-wrapper{
    width: min-content;

}


/* news block */
.news-topic-1{
    background-color: white;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    width: auto;
    padding: 30px 40px;
}

.news-topic-1{
    display: flex;
    text-wrap: wrap;
    gap: 15px;
}

.topic-1-block-2-box{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px #e5e7eb;
    width: 100%;
    cursor: pointer;
}

.topic-1-block-2-box i{
    color: #7f7f7f;
    font-size: 25px;
}

.history-play-txt{
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 300;
}

.topic-1-block-1 img{
    border-radius: 5px;
    width: 900px;
    cursor: pointer;
}

.topic-1-block-1-title{
    font-weight: 700;
    font-size: 25px;
}

.topic-1-block-1-text{
    font-size: 14px;
    font-weight: 500;
}

.box-txt{
    font-weight: 500;
    font-size: 13px;
}

.topic-1-block-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.topic-1-block-2 img{
    border-radius: 5px;
    height: 120px;
    cursor: pointer;
}

.topic-1-block-2-box{
    display: flex;
    gap: 15px;
}

.box-title{
    font-weight: 700;
    font-size: 16px;
}

/* Legends profiles */
.legends-block{
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px 40px 0px 40px;
    margin: 50px 0px;
}

.legends-title{
    color: black;
    font-size: 30px;
}

.legends-slider-block{
    margin: 30px 0px;
    display: flex;
    gap: 10px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.legends-slider p{
    padding: 0px 0px;
    margin: 5px 0px;
    text-wrap: wrap;
}

.scroll-btns{
    position: relative;
}

.scroll-btn-1,
.scroll-btn-2{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.scroll-btn-1{
    position: absolute;
    left: 10px;
    top: -200px;
}

.scroll-btn-2{
    position: absolute;
    right: 10px;
    top: -200px;
}

.scroll-btn-1 a,
.scroll-btn-2 a{
    color: rgb(255, 255, 255);
    opacity: 0.7;
    transition: 0.3s;
}

.scroll-btn-1 a:hover,
.scroll-btn-2 a:hover{
    scale: 1.1;
    opacity: 1;
}

.legends-slider-block video{
    transition: 0.3s;
    cursor: pointer;
}

.legends-slider-block img{
    transition: 0.3s;
    cursor: pointer;
}

.legends-slider-block video:hover{
    scale: 1.01;
}

.legends-slider-block img:hover{
    scale: 1.01;
}


/* recap nba */
.recap-block{
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px 40px 0px 40px;
    margin: 50px 0px;
}

.recap-title{
    color: black;
    font-size: 30px;
}

.recap-slider-block{
    margin: 30px 0px;
    display: flex;
    gap: 10px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.recap-slider p{
    padding: 0px 0px;
    margin: 5px 0px;
    text-wrap: wrap;
}

.scroll-btns{
    position: relative;
}

.scroll-btn-1,
.scroll-btn-2{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.scroll-btn-1{
    position: absolute;
    left: 10px;
    top: -200px;
}

.scroll-btn-2{
    position: absolute;
    right: 10px;
    top: -200px;
}

.scroll-btn-1 a,
.scroll-btn-2 a{
    color: rgb(255, 255, 255);
    opacity: 0.7;
    transition: 0.3s;
}

.scroll-btn-1 a:hover,
.scroll-btn-2 a:hover{
    scale: 1.1;
    opacity: 1;
}

.recap-slider-block video{
    transition: 0.3s;
    cursor: pointer;
}

.recap-slider-block img{
    transition: 0.3s;
    cursor: pointer;
}

.recap-slider-block video:hover{
    scale: 1.01;
}

.recap-slider-block img:hover{
    scale: 1.01;
}

/* nba finals history */
.finals-topic-1{
    background-color: white;
    justify-content: center;
    display: flex;
    border-radius: 15px;
    width: auto;
    padding: 30px 40px;
}

.finals-topic-1{
    display: flex;
    text-wrap: wrap;
    gap: 15px;
}

.finals-topic-1-block-2-box{
    display: flex;
    align-items: center;
    padding: 0px;
    border-bottom: solid 1px #e5e7eb;
    width: 100%;
    cursor: pointer;
}

.finals-topic-1-block-2-box i{
    color: #7f7f7f;
    font-size: 25px;
}

.finals-topic-1-block-1 img{
    border-radius: 5px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.finals-topic-1-block-1-title{
    font-weight: 700;
    font-size: 25px;
}

.finals-topic-1-block-1-text{
    font-size: 14px;
    font-weight: 500;
}

.finals-box-txt{
    font-weight: 500;
    font-size: 13px;
}

.finals-topic-1-block-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.finals-topic-1-block-2 img{
    border-radius: 5px;
    height: 120px;
    cursor: pointer;
}

.finals-topic-1-block-2-box{
    display: flex;
    gap: 15px;
}

.finals-box-title{
    font-weight: 700;
    font-size: 16px;
}


/* Footer */
footer{
    margin-top: 100px;
    padding: 10px 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.footer-txt{
    color: white;
}

.footer-txt-title{
    font-weight: 600;
    font-size: 20px;
}

.footer-txt-article{
    font-weight: 300;
    font-size: 12px;
}

.footer-img img{
    height: 10px;
}

.footer-icons{
    display: flex;
    gap: 20px;
    margin-top: 5px;
    font-size: 30px;
}

.footer-icons a{
    color: white;
}