/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    background-color: #edeef0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border: solid black 1px;
}


.color-arrow {
    background-color: blue;
}


/* Header */
header {
    position: sticky;
    top: -1px;
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px 0px black;
    z-index: 999;
}

/* Header logo */
header .logo img {
    margin-top: 5px;
    height: 40px;
}

/* Header main links */
header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    box-sizing: border-box;
    position: relative;
    float: left;

}

header nav ul li a {
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    display: block;
}

header nav ul li ul li a:hover {
    background-color: rgb(210, 216, 221);
}

header nav ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: white;
    display: none;
}


header nav ul li ul li {
    width: 100%;
    color: black;
    padding: 5px;
}

header nav ul li ul li a {
    color: black;
    letter-spacing: .5px;
}

nav ul li:hover>ul {
    display: initial;
}

nav ul li:hover>.arrow {
    display: initial;
}

.arrow {
    --arrow-size: 6px;
    opacity: 1;
    position: absolute;
    width: 0;
    height: 0;
    border: var(--arrow-size) solid transparent;
    border-bottom-color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}


/* Header buttons */
.header-btns {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 20px;
}

.league-pass-btn {
    background-color: rgb(255, 188, 64);
    padding: 7px 5px;
    border-radius: 5px;
    color: black;
    transition: .3s;
}

.league-pass-btn:hover {
    background-color: rgb(255, 166, 0);
}

.sign-in-btn {
    color: white;
}

.header-menu-btn {
    font-size: 50px;
    display: none;
}

.header-menu-btn i {
    margin-top: 10px;
    font-size: 50px;
}


.header-menu-btn ul li {
    position: relative;
    float: left;
}

.header-menu-btn ul li a {
    color: black;
    font-size: 25px;
    display: block;
    padding: 10px;
}

.header-menu-btn li ul li:hover {
    background-color: rgb(210, 216, 221);
}

.header-menu-btn ul li ul {
    padding: 5px;
    position: absolute;
    right: 0px;
    width: 200px;
    background-color: white;
    display: none;
}

.header-menu-btn ul li ul li {
    width: 100%;
}

.header-menu-btn ul li:hover>ul {
    display: initial;
}

.header-menu-btn ul li:hover>.arrow {
    display: initial;
}

/* header small nav */
.small-nav{
    position: sticky;
    top: 53px;
    left: 0px;
    right: 0px;
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    justify-content: left;
    overflow: auto;
}

.small-nav ul{
    list-style: none;
    display: flex;
}

.small-nav li{
    padding: 10px 30px;
}

.lined{
    border-bottom: solid black;
}

.small-nav li:hover:not(.no-line){
    border-bottom: solid black;
}

.small-nav a{
    color: black;
}

.small-nav .bold-txt{
    border-right: solid black;
    padding: 5px 15px
}

/* Main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

/* banner block */
.banner-block{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.banner-block img{
    width: auto;
    cursor: pointer;
}

/* wrapper */
.main-wrapper{
    width: auto;
}


/* news block */
.news-topic-1{
    background-color: white;
    border-radius: 15px;
    padding: 30px 40px;
}

.news-topic-1{
    display: flex;
    text-wrap: wrap;
    gap: 15px;
}

.topic-1-block-2-box{
    display: flex;
}

.topic-1-block-1 img{
    border-radius: 5px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.topic-1-block-1-title{
    font-weight: 700;
    font-size: 25px;
}

.topic-1-block-1-text{
    font-size: 14px;
    font-weight: 500;
}

.box-txt{
    font-weight: 500;
    font-size: 13px;
}

.topic-1-block-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.topic-1-block-2 img{
    border-radius: 5px;
    height: 120px;
    cursor: pointer;
}

.topic-1-block-2-box{
    display: flex;
    gap: 15px;
}

.box-title{
    font-weight: 700;
    font-size: 16px;
}

/* latest news */
.latest-news{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.latest-news-wrapper{
    display: flex;
    flex-direction: column;
    width: auto;
}

.latest-title{
    margin-top: 30px;
    font-weight: 800;
}

.latest-title hr{
    border: solid 2px #dadada;
}

.latest-news-block{
    background-color: white;
    margin: 20px 0px 0px 0px;
    display: flex;
    gap: 20px;
    height: max-content;
}

.news-text{
    height: max-content;
}

.news-img-block img{
    height: 100%;
    cursor: pointer;
}

.news-title{
    padding: 5px 0;
    font-weight: 800;
    font-size: 18px;
}

.news-article{
    padding: 5px 20px 5px 0px;
}

.dots{
    display: none;
}

/* load more button */
.load-more-btn{
    margin: 40px 0;
}

.load-more-btn a{
    padding: 15px 15px;
    background-color: black;
    color: white;
    border: solid 1px black;
    border-radius: 5px;
    transition: 0.3s;
}

.load-more-btn a:hover{
    background-color: white;
    color: black;
}


/* Footer */
footer{
    padding: 10px 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.footer-txt{
    color: white;
}

.footer-txt-title{
    font-weight: 600;
    font-size: 20px;
}

.footer-txt-article{
    font-weight: 300;
    font-size: 12px;
}

.footer-img img{
    height: 10px;
}

.footer-icons{
    display: flex;
    gap: 20px;
    margin-top: 5px;
    font-size: 30px;
}

.footer-icons a{
    color: white;
}