/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    background-color: #edeef0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border: solid black 1px;
}


.color-arrow {
    background-color: blue;
}


/* Header */
header {
    position: sticky;
    top: -1px;
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px 0px black;
    z-index: 999;
}

/* Header logo */
header .logo img {
    margin-top: 5px;
    height: 40px;
}

/* Header main links */
header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    box-sizing: border-box;
    position: relative;
    float: left;

}

header nav ul li a {
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    display: block;
}

header nav ul li ul li a:hover {
    background-color: rgb(210, 216, 221);
}

header nav ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: white;
    display: none;
}


header nav ul li ul li {
    width: 100%;
    color: black;
    padding: 5px;
}

header nav ul li ul li a {
    color: black;
    letter-spacing: .5px;
}

nav ul li:hover>ul {
    display: initial;
}

nav ul li:hover>.arrow {
    display: initial;
}

.arrow {
    --arrow-size: 6px;
    opacity: 1;
    position: absolute;
    width: 0;
    height: 0;
    border: var(--arrow-size) solid transparent;
    border-bottom-color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}


/* Header buttons */
.header-btns {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 20px;
}

.league-pass-btn {
    background-color: rgb(255, 188, 64);
    padding: 7px 5px;
    border-radius: 5px;
    color: black;
    transition: .3s;
}

.league-pass-btn:hover {
    background-color: rgb(255, 166, 0);
}

.sign-in-btn {
    color: white;
}

.header-menu-btn {
    font-size: 50px;
    display: none;
}

.header-menu-btn i {
    margin-top: 10px;
    font-size: 50px;
}


.header-menu-btn ul li {
    position: relative;
    float: left;
}

.header-menu-btn ul li a {
    color: black;
    font-size: 25px;
    display: block;
    padding: 10px;
}

.header-menu-btn li ul li:hover {
    background-color: rgb(210, 216, 221);
}

.header-menu-btn ul li ul {
    padding: 5px;
    position: absolute;
    right: 0px;
    width: 200px;
    background-color: white;
    display: none;
}

.header-menu-btn ul li ul li {
    width: 100%;
}

.header-menu-btn ul li:hover>ul {
    display: initial;
}

.header-menu-btn ul li:hover>.arrow {
    display: initial;
}

/* header small nav */
.small-nav{
    position: sticky;
    top: 53px;
    left: 0px;
    right: 0px;
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    justify-content: left;
    overflow: auto;
}

.small-nav ul{
    list-style: none;
    display: flex;
}

.small-nav li{
    padding: 10px 30px;
}


.small-nav a{
    color: black;
    font-size: 14px;
    color: #4c5154;
}

.small-nav a:hover{
    text-decoration: underline;
}

.small-nav .bold-txt{
    padding: 5px 15px;
    font-weight: 800;
}

/* Main */
main{
    color: white;
}


/* page */
.main-first-page{
    background-image: url('../img/league-pass-bg.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: max-content;
    width: 100%;
    padding: 10px 0 30px 0;
}

.main-first-page-title{
    padding: 25px 0px 5px 0px;
    margin: auto;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
}

.main-first-page-txt{
    padding: 0px 150px;
    text-align: center;
    font-size: 22px;
}


/* Switch button #1 */
.switch-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.switch-btns-wrapper{
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 0px;
    padding: 7px 5px;
    border-radius: 50px;
    background-color: #e0e0e0;
    color: black;
}

.switch-btns-wrapper a{
    padding: 0px 15px;
    color: black;
}

.borderd-link{
    background-color: white;
    padding: 5px;
    border-radius: 50px;
}

/* Price boxes */

.price-container{
    margin: 45px auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-container-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.price-box-1{
    border-radius: 5px;
    padding: 20px 10px;
    color: black;
    border: solid 1px black;
    background-color: white;
    text-align: center;
    width: 300px
}

.price-1-box-title{
    font-size: 24px;
    font-weight: 800;

}

.price-1-box-txt{
    color: #4c5154;
    font-size: 15px;
    margin: 30px 0px 30px 0px;
}

.price-box-1-price{
    padding: 0 10px;
    font-size: 30px;
    font-weight: 600;
}

.small-word{
    font-size: 11px;
}

.price-box-1-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 20px auto 5px auto;
}

.price-box-1-btn a{
    color: black;
    border-radius: 5px;
    background-color: #fbcd44;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.price-box-1-btn a:hover{
    border: solid 1px black;
}

.price-box-1-btn a:active{
    background-color: #fbcd44;
}


/* compare */
.compare-block{
    color: black;
    display: flex;
    justify-content: center;
    align-items: start;
}

.compare-title{
    text-align: center;
    font-size: 50px;
    padding: 85px 0 20px 0;
}

.compare-table{
    background-color: white;
    padding: 50px 40px;
    border-radius: 10px;
}

.row-1-bold-txt{
    font-weight: 600;
    font-size: 25px;
}

.row-1-txt-text{
    font-size: 12px;
    color: #4c5154;
}


table{
    color: black;
    border-collapse: collapse;
}

table .aside-txt{
    border-bottom: solid 2px #f3f4f5;
    width: 300px;
    text-align: left;

}

table td{
    padding: 15px 5px 15px 5px;
    border-bottom: solid 2px #f3f4f5;
    width: 300px;
    text-align: center;
}

.button-1-title{
    font-size: 22px;
    font-weight: 600;
}

.button-1-btn{
    height: 20px;
    margin: 12px 0px;
}

.button-1-btn a{
    background-color: #fbcd44;
    padding: 5px 35px;
    color: black;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.4s;
}

.button-1-btn a:hover{
    border: solid 1px black;
}

.tb-switch{
    margin: 0;
    width: max-content;
}


table td i{
    font-size: 30px;
}


/* Footer */
footer{
    margin-top: 50px;
    position: static;
    padding: 10px 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.footer-txt{
    color: white;
}

.footer-txt-title{
    font-weight: 600;
    font-size: 20px;
}

.footer-txt-article{
    font-weight: 300;
    font-size: 12px;
}

.footer-img img{
    height: 10px;
}

.footer-icons{
    display: flex;
    gap: 20px;
    margin-top: 5px;
    font-size: 30px;
}

.footer-icons a{
    color: white;
}