/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    background-color: #edeef0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border: solid black 1px;
}


.color-arrow {
    background-color: blue;
}


/* Header */
header {
    position: sticky;
    top: -1px;
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px 0px black;
    z-index: 999;
}

/* Header logo */
header .logo img {
    margin-top: 5px;
    height: 40px;
}

/* Header main links */
header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    box-sizing: border-box;
    position: relative;
    float: left;

}

header nav ul li a {
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    display: block;
}

header nav ul li ul li a:hover {
    background-color: rgb(210, 216, 221);
}

header nav ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: white;
    display: none;
}


header nav ul li ul li {
    width: 100%;
    color: black;
    padding: 5px;
}

header nav ul li ul li a {
    color: black;
    letter-spacing: .5px;
}

nav ul li:hover>ul {
    display: initial;
}

nav ul li:hover>.arrow {
    display: initial;
}

.arrow {
    --arrow-size: 6px;
    opacity: 1;
    position: absolute;
    width: 0;
    height: 0;
    border: var(--arrow-size) solid transparent;
    border-bottom-color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}


/* Header buttons */
.header-btns {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 20px;
}

.league-pass-btn {
    background-color: rgb(255, 188, 64);
    padding: 7px 5px;
    border-radius: 5px;
    color: black;
    transition: .3s;
}

.league-pass-btn:hover {
    background-color: rgb(255, 166, 0);
}

.sign-in-btn {
    color: white;
}

.header-menu-btn {
    font-size: 50px;
    display: none;
}

.header-menu-btn i {
    margin-top: 10px;
    font-size: 50px;
}


.header-menu-btn ul li {
    position: relative;
    float: left;
}

.header-menu-btn ul li a {
    color: black;
    font-size: 25px;
    display: block;
    padding: 10px;
}

.header-menu-btn li ul li:hover {
    background-color: rgb(210, 216, 221);
}

.header-menu-btn ul li ul {
    padding: 5px;
    position: absolute;
    right: 0px;
    width: 200px;
    background-color: white;
    display: none;
}

.header-menu-btn ul li ul li {
    width: 100%;
}

.header-menu-btn ul li:hover>ul {
    display: initial;
}

.header-menu-btn ul li:hover>.arrow {
    display: initial;
}

/* Main */
main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper{
    padding: 50px 40px;
}

.nba-id-logo img{
    height: 40px;
}

.sign-in-title{
    font-size: 2.5rem;
    font-weight: 600;
}

.main-wrapper form{
    padding: 10px 30px 40px 30px;
    background-color: white;
}

.input-block{
    position: relative;
    width: 100%;
    height: 30px;
    margin: 30px 0 0 0;
}

.input-block input{
    position: relative;
    width: 100%;
    height: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid 1px gray;
    outline: none;
    background-color: transparent;
    font-size: 17px;
    transition: 0.4s;
}

.input-block label{
    position: absolute;
    color: rgb(134, 134, 134);
    left: 0px;
    pointer-events: none;
    transition: all .5s;
    font-size: 18px;
}

input:focus ~ label,
input:valid ~ label {
    top: -20px;
    font-size: 15px;
}


.forgot-password{
    display: flex;
    justify-content: right;
    margin: 20px 0 0 0;
    font-size: 14px;
    color: gray;
    text-decoration: underline;
}

.forgot-password a{
    color: black;
}

.sumbit-btn{
    width: 80%;
    height: 40px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.sumbit-btn button{
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: black;
    border: solid 1px;
    color: white;
    font-weight: 700;
    border-radius: 5px;

    transition: 0.3s;
}


.sumbit-btn button:hover{
    background-color: white;
    color: black;
}

.sumbit-btn button:active{
    background-color: rgb(113, 113, 113);
}

.create-acc{
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 15px;
}

.create-acc a{
    color: black;
    text-decoration: underline;
}

/* Footer */
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.footer-txt{
    color: white;
}

.footer-txt-title{
    font-weight: 600;
    font-size: 20px;
}

.footer-txt-article{
    font-weight: 300;
    font-size: 12px;
}

.footer-img img{
    height: 10px;
}

.footer-icons{
    display: flex;
    gap: 20px;
    margin-top: 5px;
    font-size: 30px;
}

.footer-icons a{
    color: white;
}