/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    background-color: #edeef0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border: solid black 1px;
}


.color-arrow {
    background-color: blue;
}


/* Header */
header {
    position: sticky;
    top: -1px;
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px 0px black;
    z-index: 999;
}

/* Header logo */
header .logo img {
    margin-top: 5px;
    height: 40px;
}

/* Header main links */
header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    box-sizing: border-box;
    position: relative;
    float: left;

}

header nav ul li a {
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    display: block;
}

header nav ul li ul li a:hover {
    background-color: rgb(210, 216, 221);
}

header nav ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: white;
    display: none;
}


header nav ul li ul li {
    width: 100%;
    color: black;
    padding: 5px;
}

header nav ul li ul li a {
    color: black;
    letter-spacing: .5px;
}

nav ul li:hover>ul {
    display: initial;
}

nav ul li:hover>.arrow {
    display: initial;
}

.arrow {
    --arrow-size: 6px;
    opacity: 1;
    position: absolute;
    width: 0;
    height: 0;
    border: var(--arrow-size) solid transparent;
    border-bottom-color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}


/* Header buttons */
.header-btns {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 20px;
}

.league-pass-btn {
    background-color: rgb(255, 188, 64);
    padding: 7px 5px;
    border-radius: 5px;
    color: black;
    transition: .3s;
}

.league-pass-btn:hover {
    background-color: rgb(255, 166, 0);
}

.sign-in-btn {
    color: white;
}

.header-menu-btn {
    font-size: 50px;
    display: none;
}

.header-menu-btn i {
    margin-top: 10px;
    font-size: 50px;
}


.header-menu-btn ul li {
    position: relative;
    float: left;
}

.header-menu-btn ul li a {
    color: black;
    font-size: 25px;
    display: block;
    padding: 10px;
}

.header-menu-btn li ul li:hover {
    background-color: rgb(210, 216, 221);
}

.header-menu-btn ul li ul {
    padding: 5px;
    position: absolute;
    right: 0px;
    width: 200px;
    background-color: white;
    display: none;
}

.header-menu-btn ul li ul li {
    width: 100%;
}

.header-menu-btn ul li:hover>ul {
    display: initial;
}

.header-menu-btn ul li:hover>.arrow {
    display: initial;
}

/* Main */
main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper{
    width: 50%;

    padding: 50px 40px;
}

/* form head */
.nba-id-logo img{
    height: 40px;
}

.sign-up-title{
    font-size: 3rem;
    font-weight: 700;
}

.sign-up-txt{
    font-size: 13px;
    font-weight: 300;
    margin: 10px 0px 10px 0px;
}

.id-sign-in-block{
    font-size: 13px;
    font-weight: 300;
    margin: 10px 0px 20px 0px;
}
.id-sign-in-block a{
    color: black;
    text-decoration: underline;
}

/* form */
form{
    background-color: white;
    padding: 10px 35px;
}

.input-block {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 30px 0 0 0;
}

.input-block input {
    position: relative;
    width: 100%;
    height: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid 1px gray;
    outline: none;
    background-color: transparent;
    font-size: 17px;
    padding: 0px 5px;
    transition: 0.5s;
}

.input-block label {
    position: absolute;
    color: rgb(134, 134, 134);
    left: 0px;
    pointer-events: none;
    font-size: 18px;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
    top: -20px;
    font-size: 15px;
    transition: 0.5s;
}

/* birdth info */
.birdth-info{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
    margin: 50px 0px;
    
}

/* month */
.month-select-block{
    width: 100%;
    margin: auto;
    font-size: 12px;
    color: rgb(134, 134, 134);
    font-weight: 400;

}

.month-list{
    height: 30px;
    width: 100%;

}

.month-list select{
    font-size: 18px;
    border: none;
    border-bottom: 1px black solid;
    width: 100%;
    height: 100%;
}

.month-list select:hover:not(option){
    background-color: #edeef0;
}

.month-list select:focus{
    border: solid 1px black;
}

/* year */
.year-select-block{
    width: 100%;
    margin: auto;
    font-size: 12px;
    color: rgb(134, 134, 134);
    font-weight: 400;
}

.years-list{
    width: 100%;
    height: 30px;
}

.years-list select{
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid;
    font-size: 18px;
}

.years-list select:hover:not(option){
    background-color: #edeef0;
}

.years-list select:focus{
    border: solid 1px black;
}


/* Countries select */
.country-select-block{
    margin: 50px 0px;
}

.country-select-block{
    width: 100%;
    margin: auto;
    font-size: 12px;
    color: rgb(134, 134, 134);
    font-weight: 400;

}

.country-list{
    height: 30px;
    width: 100%;

}

.country-list select{
    font-size: 18px;
    border: none;
    border-bottom: 1px black solid;
    width: 100%;
    height: 100%;
}

.country-list select:hover:not(option){
    background-color: #edeef0;
}

.country-list select:focus{
    border: solid 1px black;
}

/* Terms */
.terms-block{
    margin: 50px 0px;
}

.terms{
    display: flex;
    align-items: center;
    gap: 1%;
    font-size: 11px;
}

.term-input input{
    border: solid 1px;
    height: 30px;
    width: 30px;
}

/* Bot checker */
.bot-checker-block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0px;
}

.checker-wrapper{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f9f9f9;
    border: solid 1px #d3d3d3;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px lightgray;
    padding: 30px 0px;

}

.checker-input-block{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
}

.checker-input-block input{
    height: 30px;
    width: 30px;
}

.checker-input-img img{
    height: 45px;
}

.checker-input-img{
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 10px;
}

/* Sumbit button */
.sumbit-btn{
    margin: 50px 0px;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn-wrapper{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
}

button{
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: black;
    border: solid 1px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-wrapper button:hover{
    background-color: white;
    color: black;
}

.btn-wrapper button:active{
    background-color: rgb(113, 113, 113);
}

/* bottom text */
.small-text{
    margin: auto 0 20px 0;
    font-size: 12px;
    text-align: center;
    color: #858585;

}

.underline-text{
    text-decoration: underline;
    cursor: pointer;
}


/* Footer */
footer{
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 10px 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.footer-txt{
    color: white;
}

.footer-txt-title{
    font-weight: 600;
    font-size: 20px;
}

.footer-txt-article{
    font-weight: 300;
    font-size: 12px;
}

.footer-img img{
    height: 10px;
}

.footer-icons{
    display: flex;
    gap: 20px;
    margin-top: 5px;
    font-size: 30px;
}

.footer-icons a{
    color: white;
}