/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    background-color: #edeef0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border: solid black 1px;
}


.color-arrow {
    background-color: blue;
}


/* Header */
header {
    position: sticky;
    top: -1px;
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px 0px black;
    z-index: 999;
}

/* Header logo */
header .logo img {
    margin-top: 5px;
    height: 40px;
}

/* Header main links */
header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    box-sizing: border-box;
    position: relative;
    float: left;

}

header nav ul li a {
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    display: block;
}

header nav ul li ul li a:hover {
    background-color: rgb(210, 216, 221);
}

header nav ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: white;
    display: none;
}


header nav ul li ul li {
    width: 100%;
    color: black;
    padding: 5px;
}

header nav ul li ul li a {
    color: black;
    letter-spacing: .5px;
}

nav ul li:hover>ul {
    display: initial;
}

nav ul li:hover>.arrow {
    display: initial;
}

.arrow {
    --arrow-size: 6px;
    opacity: 1;
    position: absolute;
    width: 0;
    height: 0;
    border: var(--arrow-size) solid transparent;
    border-bottom-color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}


/* Header buttons */
.header-btns {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 20px;
}

.league-pass-btn {
    background-color: rgb(255, 188, 64);
    padding: 7px 5px;
    border-radius: 5px;
    color: black;
    transition: .3s;
}

.league-pass-btn:hover {
    background-color: rgb(255, 166, 0);
}

.sign-in-btn {
    color: white;
}

.header-menu-btn {
    font-size: 50px;
    display: none;
}

.header-menu-btn i {
    margin-top: 10px;
    font-size: 50px;
}


.header-menu-btn ul li {
    position: relative;
    float: left;
}

.header-menu-btn ul li a {
    color: black;
    font-size: 25px;
    display: block;
    padding: 10px;
}

.header-menu-btn li ul li:hover {
    background-color: rgb(210, 216, 221);
}

.header-menu-btn ul li ul {
    padding: 5px;
    position: absolute;
    right: 0px;
    width: 200px;
    background-color: white;
    display: none;
}

.header-menu-btn ul li ul li {
    width: 100%;
}

.header-menu-btn ul li:hover>ul {
    display: initial;
}

.header-menu-btn ul li:hover>.arrow {
    display: initial;
}

/* Main */
main {
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 20px 0px;
}


.left-side {
    width: 100%;
    height: auto;
    padding: 30px 20px;
}

.right-side {
    width: 100%;
    height: min-content;
    padding: 30px 20px;
}

/* left side slider */
/* slider control */
.slider-container {
    background-color: white;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin: 0px auto 30px auto;
}

.slider {
    height: 70vh;
    background-color: white;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide-1{
    background-image: url('../img/main-pg-slider-img-1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
}

.slide-1:hover,
.slide-2:hover,
.slide-3:hover,
.slide-4:hover,
.slide-5:hover{
    scale: 1.03;
}

.slide-2{
    background-image: url('../img/main-pg-slider-img-2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
}

.slide-3{
    background-image: url('../img/main-pg-slider-img-3.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
}

.slide-4{
    background-image: url('../img/main-pg-slider-img-4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;
}

.slide-5{
    background-image: url('../img/main-pg-slider-img-5.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
}

.slide-1,
.slide-2,
.slide-3,
.slide-4,
.slide-5{
    min-width: 100%;
    box-sizing: border-box;
}

.label-block {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.label-block label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #e1e1e1;
    border-radius: 50%;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + .nav label {
    background: #000000;
}

#slide1:checked ~ .slider {
    transform: translateX(0);
}

#slide2:checked ~ .slider {
    transform: translateX(-100%);
}

#slide3:checked ~ .slider {
    transform: translateX(-200%);
}

#slide4:checked ~ .slider {
    transform: translateX(-300%);
}

#slide5:checked ~ .slider {
    transform: translateX(-400%);
}

/* Slider content */
.slide-1-block,
.slide-2-block,
.slide-3-block,
.slide-4-block,
.slide-5-block{
    display: flex;
    align-items: center;
    padding: 0px 40px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    color: white;
}

.slide-1-txt-box,
.slide-2-txt-box,
.slide-3-txt-box,
.slide-4-txt-box,
.slide-5-txt-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.main-slide-1-title,
.main-slide-2-title,
.main-slide-3-title,
.main-slide-4-title,
.main-slide-5-title{
    font-size: 30px;
    font-weight: 600;
}

.main-slide-1-txt,
.main-slide-2-txt,
.main-slide-3-txt,
.main-slide-4-txt,
.main-slide-5-txt{
    font-size: 16px;
}

.main-slider-btn{
    background-color: black;
    border: solid 2px white;
    border-radius: 50px;
    width: max-content;
    padding: 5px 25px;
    transition: 0.3s;
}

.main-slider-btn:hover{
    scale: 1.05;
}

.main-slider-btn a{
    color: white;
}


/* left side Table */
.teams-rank-block {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    display: grid;
    justify-content: center;
    width: 100%;
}

.teams-rank-table-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;

}

.teams-rank-title {
    background-color: white;
    margin: 10px 0px;
    font-size: 30px;
}

.teams-rank-title hr {
    border: solid 1px black;
}

.west-title,
.east-title {
    margin: 15px 0px 10px 0px;
    font-size: 20px;
}



.teams-rank-table {
    border-collapse: collapse;
    width: 100%;
    height: 300px;
    border-bottom: none;
}

.transparent-table-td{
    text-align: center;

}

.teams-rank-table td {
    border: solid 1px;
    padding: 2px 0px;
    border-right: none;

}

.table-td img{
    height: 40px;
    width: 40px;
}

.teams-rank-table .table-head {
    width: 350px;
    height: 25px;
    text-align: center;
    border-left: none;

}

.teams-rank-table .teams-number {
    width: 50px;
    text-align: center;
    border-bottom: none;
    border-left: none;
}

.teams-rank-table .table-td {
    width: 350px;
    border-right: none;
    border-bottom: none;
}

.teams-rank-table .table-td a {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto 5px;
    color: black;
}

.colored {
    background-color: #edeef0;
}

td.tb-num {
    border-left: none;
}

/* PLayers of the week */
.week-players-block {
    padding: 30px 40px;
    margin: 30px 0px;
    border-radius: 10px;
    background-color: white;
    display: block;
}

.week-players-title {
    font-size: 30px;
}

.week-players-table-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0px;
    gap: 10px;
    font-size: 18px;
}

.player-block {
    display: flex;
    gap: 2%;
    margin: 20px 0px 0px 0px;
}

.week-players-table {
    border-collapse: collapse;
    border: 2px solid;
    width: 100%;
    text-align: center;
}

.players-achieve {
    display: none;
}

.week-players-table td {
    border: solid 2px;
    width: 300px;
    height: 50px;
}

.week-players-img img {
    display: block;
    height: 102px;
    border: solid 2px black;
    background-color: azure;
}

.transparent-txt {
    color: transparent;
}


/* trending now */
.trending-block{
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 10px;
    padding: 30px 40px 0px 40px;
}

.trending-title{
    color: black;
    font-size: 30px;
}

.trending-slider-block{
    margin: 30px 0px;
    display: flex;
    gap: 10px;
    overflow: hidden;
    scroll-behavior: smooth;
}

.trending-slider p{
    padding: 0px 0px;
    margin: 5px 0px;
    text-wrap: wrap;
}

.scroll-btns{
    position: relative;
}

.scroll-btn-1,
.scroll-btn-2{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.scroll-btn-1{
    position: absolute;
    left: 10px;
    top: -200px;
}

.scroll-btn-2{
    position: absolute;
    right: 10px;
    top: -200px;
}

.scroll-btn-1 a,
.scroll-btn-2 a{
    color: rgb(255, 255, 255);
    opacity: 0.7;
    transition: 0.3s;
}

.scroll-btn-1 a:hover,
.scroll-btn-2 a:hover{
    scale: 1.1;
    opacity: 1;
}

.trending-slider-block video{
    transition: 0.3s;
    cursor: pointer;
}

.trending-slider-block img{
    transition: 0.3s;
    cursor: pointer;
}

.trending-slider-block video:hover{
    scale: 1.01;
}

.trending-slider-block img:hover{
    scale: 1.01;
}


/* League-pass #1 */
.league-pass-block-1{
    background-color: white;
    border-radius: 10px;
    margin: 30px 0px;
    padding: 30px 40px 1px 40px;
}

.league-pass-1-title{
    font-size: 30px;
}

.league-pass-1-container{
    margin: 30px 0px;
    padding: 20px 0px;
    border-radius: 10px;
    background-color: #1d428a;
}

.league-pass-1-logo{
    display: flex;
    justify-content: center;
}

.league-pass-1-logo img{
    height: 50px;
    width: 200px;
    margin: 10px 0px;
}

.league-pass-1-txt{
    text-align: center;
    color: white;
}

.league-pass-1-txt p b{
    margin: 5px 0px;
}

.league-pass-1-txt p{
    margin: 5px 0px;
}

.league-pass-1-btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0px;
}

.league-pass-1-btns a{
    color: white;
    padding: 10px 20px;
    border: solid 2px white;
    border-radius: 5px;
    transition: 0.2s;
}

.league-pass-1-btns a:hover{
    background-color: white;
    color: black;
    scale: 1.1;
}


/* NBA TV analysis */
.analys-main-block{
    background-color: white;
    border-radius: 15px;
    margin: 30px 0px;
    padding: 30px 40px 1px 40px;
}

.analys-title{
    font-size: 30px;
}

.analys-block{
    scroll-behavior: smooth;
    position: relative;
    margin: 30px 0px;
    padding: 5px 0px 20px 5px;
    overflow: hidden;
    display: flex;
    gap: 20px;
    background-color: white
}

.analys-video-block{
    border-radius: 5px;
    background-color: white;
}
.analys-video{
    width: auto;
    overflow: hidden;
    height: 150px;
    background-color: white;
    border-radius: 5px;

}

.analys-txt{
    padding: 10px;
    font-weight: 700;
}

.analys-video video{
    transition: 0.2s;
    border: none;
    cursor: pointer;
}

.analys-video video:hover{
    scale: 1.03;
}


/* Around the NBA */
.around-nba-main-block{
    background-color: white;
    border-radius: 10px;
    padding: 30px 40px 1px 40px;
}

.around-nba-block{
    margin: 30px 0px;
}

.around-nba-title{
    font-size: 30px;
}

.nba-info-block{
    display: flex;
    gap: 20px;
    align-items: start;
    margin: 10px 0px;
    font-size: 18px;
}

.nba-info-block img{
    transition: 0.3s;
}

.nba-info-block img:hover{
    scale: 1.05;
}


/* Right side */
/* League pass */
.league-pass-block-2{
    border-radius: 10px;
    padding: 10px 15px;
    background-color: white;
}

.league-pass-2-title{
    font-size: 30px;
}

.league-pass-2-container{
    background-color: #1d428a;
    color: white;
    margin: 20px 0px 10px 0px;
    padding: 20px 0px 0px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.league-pass-2-btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0px;
}

.league-pass-2-btns a{
    color: white;
    padding: 10px;
    border: solid 2px white;
    border-radius: 5px;
    transition: 0.2s;
}

.league-pass-2-btns a:hover{
    background-color: white;
    color: black;
    scale: 1.1;
}


/* Merchandise */
.merchandise-container{
    background-color: white;
    padding: 10px 15px;
    margin: 50px 0px;
    border-radius: 10px;
}

.merchandise-title{
    font-size: 30px;
}

.merchandise-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/merchandise-bg.avif");
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 30px 0px;
    margin: 20px 0px 10px 0px;
}

.merch-txt{
    margin: 20px 0px 10px 0px;
    outline-color: #1d428a;
}

.merch-btn a{
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0px 10px 0px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    transition: 0.3s;
}

.merch-btn a:hover{
    scale: 1.05;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* social media */
.social-media-container{
    background-color: white;
    background-color: white;
    padding: 10px 15px;
    margin: 50px 0px;
    border-radius: 10px;
}

.social-media-title{
    font-size: 30px;
}

.social-media-block{
    padding: 30px 0px;
    margin: 20px 0px;
}

.social-media-block a{
    color: black;
    font-size: 50px;
}

.social-media-row-1{
    display: flex;
    justify-content: space-evenly;
}

.social-media-row-2{
    display: flex;
    justify-content: space-evenly;
}

.facebook-sm{
    transition: 0.3s;
}

.facebook-sm:hover{
    color: blue;
}

.instagram-sm{
    transition: 0.3s;
}

.instagram-sm:hover{
    color: #e53365;
}

.youtube-sm{
    transition: 0.3s;
}

.youtube-sm:hover{
    color: red;
}

.twitter-sm{
    transition: 0.3s;
}

.twitter-sm:hover{
    color: #5454ff;
}

.twitch-sm{
    transition: 0.3s;
}

.twitch-sm:hover{
    color: purple;
}

.tiktok-sm{
    transition: 0.3s;
}

.tiktok-sm:hover{
    color: #77404b;
}

/* Footer */
footer{
    padding: 10px 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.footer-txt{
    color: white;
}

.footer-txt-title{
    font-weight: 600;
    font-size: 20px;
}

.footer-txt-article{
    font-weight: 300;
    font-size: 12px;
}

.footer-img img{
    height: 10px;
}

.footer-icons{
    display: flex;
    gap: 20px;
    margin-top: 5px;
    font-size: 30px;
}

.footer-icons a{
    color: white;
}

