/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    background-color: white
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border: solid black 1px;
}


/* Main */
main{
    padding: 30px 0;
}

/* tickets-logo */
.tickets-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tickets-logo img{
    height: 50px;
}

/* marquee text */
.marquee-infinitive{
    margin: 30px auto;
    max-width: 100%;
    overflow: hidden;
}

.marquee-wrapp{
    display: flex;
    width: 200%;
    animation: moving-text 25s linear infinite;
}

.marquee-wrapp span{
    white-space: nowrap;
    width: 100%;
    color: #1e438a;
    font-size: 24px;
}

@keyframes moving-text {
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(-50%);
    }
}

/* NBA teams block */
.nba-teams-block{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;

}

.nba-teams-block-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: auto;
}

.teams-img-block{
    display: flex;
    justify-content:center;
    gap: 15px;
}

.nba-teams-block img{
    height: 85px;
    width: 85px;
    cursor: pointer;
}


/* Tickets order */
.order-tickets-block{
    margin: 50px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.order-tickets-block-wrapper{
    border: 1px solid #d3d3d3;
    width: 80%;
}

.tickets-title{
    font-size: 30px;
    margin: 0 0 15px 0;
    color: #01295c;
}


.settings-block{
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
    margin: 0 0 15px 0;
}

.inputs-tickets-block{
    width: 100%;
    height: 30px;
    width: 390px;
    display: flex;
    gap: 50px;
}


.inputs-tickets-block select{
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
}

.find-ticket-btn{
    background-color: #022a5c;
    border-radius: 5px;
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.find-ticket-btn a{
    color: white;
}

.hide-check-btn{
    font-size: 18px;
}

.hide-check-btn label{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.hide-check-btn input{
    height: 15px;
    width: 15px;
}

/* tickets table */
.tickets-table{
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0 0 0;
}

.table-head,
.table-footer{
    border-bottom: solid 20px #f4f4f4;
}



.date-row{
    border: none;
}

.tickets-table .table-cell{
    border-bottom: solid 1px #f4f4f4;
    padding: 5px 0;
}

.table-cell a{
    padding: 5px 8px;
    background-color: #022a5c;
    color: white;
    border-radius: 5px;
}

/* See more button */
.see-more-btn{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-more-wrapper{
    background-color: #022a5c;
    padding: 15px 25px;
}

.see-more-wrapper a{
    color: white;
    font-size: 18px;
}

.see-more-wrapper:hover{
    background-color: #011d41;
}

/* Temas list */
.team-block-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-block-list-wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.team-block{
    padding: 30px 70px;
    border: solid 1px transparent;
}

.team-block:hover{
    border: solid 1px #d3d3d3;
    border-bottom: solid 1px blue;

}


.team-block img{
    height: 100px;
    width: 100px;
}

/* Footer */
footer{
    padding: 10px 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.footer-txt{
    color: white;
}

.footer-txt-title{
    font-weight: 600;
    font-size: 20px;
}

.footer-txt-article{
    font-weight: 300;
    font-size: 12px;
}

.footer-img img{
    height: 10px;
}

.footer-icons{
    display: flex;
    gap: 20px;
    margin-top: 5px;
    font-size: 30px;
}

.footer-icons a{
    color: white;
}