/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    background-color: #edeef0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border: solid black 1px;
}


.color-arrow {
    background-color: blue;
}


/* Header */
header {
    position: sticky;
    top: -1px;
    height: auto;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px 0px black;
    z-index: 999;
}

/* Header logo */
header .logo img {
    margin-top: 5px;
    height: 40px;
}

/* Header main links */
header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    box-sizing: border-box;
    position: relative;
    float: left;

}

header nav ul li a {
    padding: 15px 20px;
    color: white;
    font-size: 16px;
    display: block;
}

header nav ul li ul li a:hover {
    background-color: rgb(210, 216, 221);
}

header nav ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background-color: white;
    display: none;
}


header nav ul li ul li {
    width: 100%;
    color: black;
    padding: 5px;
}

header nav ul li ul li a {
    color: black;
    letter-spacing: .5px;
}

nav ul li:hover>ul {
    display: initial;
}

nav ul li:hover>.arrow {
    display: initial;
}

.arrow {
    --arrow-size: 6px;
    opacity: 1;
    position: absolute;
    width: 0;
    height: 0;
    border: var(--arrow-size) solid transparent;
    border-bottom-color: #ffffff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}


/* Header buttons */
.header-btns {
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 20px;
}

.league-pass-btn {
    background-color: rgb(255, 188, 64);
    padding: 7px 5px;
    border-radius: 5px;
    color: black;
    transition: .3s;
}

.league-pass-btn:hover {
    background-color: rgb(255, 166, 0);
}

.sign-in-btn {
    color: white;
}

.header-menu-btn {
    font-size: 50px;
    display: none;
}

.header-menu-btn i {
    margin-top: 10px;
    font-size: 50px;
}


.header-menu-btn ul li {
    position: relative;
    float: left;
}

.header-menu-btn ul li a {
    color: black;
    font-size: 25px;
    display: block;
    padding: 10px;
}

.header-menu-btn li ul li:hover {
    background-color: rgb(210, 216, 221);
}

.header-menu-btn ul li ul {
    padding: 5px;
    position: absolute;
    right: 0px;
    width: 200px;
    background-color: white;
    display: none;
}

.header-menu-btn ul li ul li {
    width: 100%;
}

.header-menu-btn ul li:hover>ul {
    display: initial;
}

.header-menu-btn ul li:hover>.arrow {
    display: initial;
}

/* header small nav */
.small-nav{
    position: sticky;
    top: 53px;
    left: 0px;
    right: 0px;
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    justify-content: left;
    overflow: auto;
}

.small-nav ul{
    list-style: none;
    display: flex;
}

.small-nav li{
    padding: 10px 30px;
}

.lined{
    border-bottom: solid black;
}

.small-nav li:hover:not(.no-line){
    border-bottom: solid black;
}

.small-nav a{
    color: black;
}

.small-nav .bold-txt{
    border-right: solid black;
    padding: 5px 15px
}

/* Main */
main{
    display: grid;
    grid-template-columns: 70% 30%;
}

.left-side {
    width: 100%;
    height: auto;
    padding: 50px 20px;
}

.right-side {
    width: 100%;
    height: min-content;
    padding: 50px 20px;
}

/* left side */
/* Calendar */
.calendar{
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 5px 5px;
}

.calendar-month-year{
    display: flex;
    align-items: center;
    gap: 5px;
}

.calendar-month-year i{
    font-size: 20px;
    text-align: center;
}

.calendar-days{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.week-name{
    font-weight: 500;
    font-size: 14px;
}

.week-day{
    font-weight: 700;
    font-size: 18px;
}

.day-name{
    padding: 5px 15px;
    border-bottom: solid 2px transparent;

}

.day-name:hover{
    border-bottom: rgba(58, 58, 58, 0.3) solid 2px
}

.day-name a{
    color: black;
}

/* Game day block */
.game-day-block{
    margin: 60px 0px 10px 0px;
    padding: 5px 10px;
    background-color: white;
}


/* Game info block */
.game-block{
    background-color: white;
    display: grid;
    margin: 15px 0px;
    grid-template-columns: 55% 45%;
}

.game-info{
    background-color: '';
}

.teams-info{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    padding: 20px 0px;
    border-right: solid 2px #e5e7eb;
}

.teams-info img{
    height: 50px;
}

.team-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-time-info{
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 800;
}

.game-brodcast,
.team-stats{
    font-size: 12px;
}

.tickets-block{
    padding: 5px 0px;
    text-align: center;
    border-top: solid 2px #e5e7eb;
    border-right: solid 2px #e5e7eb;
}

.tickets-block a{
    color: black;
}

/* season leaders */
.season-leaders{
    padding: 10px 10px 0px 10px;
}

.players-leaders-table{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Game table */
.players-leaders-table table{
    height: auto;
    width: 100%;
    border-collapse: collapse;
    
}

.players-leaders-table table td{
    border-bottom: solid 2px #e5e7eb;
    text-align: center;
    padding: 5px 0px 5px 15px;
    font-size: 12px;
    
}

.logo-name{
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-name img{
    border-radius: 50%;
    background-color: rgb(229, 229, 229);
}


/* Right side */
/* League pass */
.league-pass-block-2{
    border-radius: 10px;
    padding: 10px 15px;
    background-color: white;
}

.league-pass-2-title{
    font-size: 30px;
}

.league-pass-2-container{
    background-color: #1d428a;
    color: white;
    margin: 20px 0px 10px 0px;
    padding: 20px 0px 0px 0px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.league-pass-2-btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0px;
}

.league-pass-2-btns a{
    color: white;
    padding: 10px;
    border: solid 2px white;
    border-radius: 5px;
    transition: 0.2s;
}

.league-pass-2-btns a:hover{
    background-color: white;
    color: black;
    scale: 1.1;
}


/* social media */
.social-media-container{
    background-color: white;
    background-color: white;
    padding: 10px 15px;
    margin: 50px 0px;
    border-radius: 10px;
}

.social-media-title{
    font-size: 30px;
}

.social-media-block{
    padding: 30px 0px;
    margin: 20px 0px;
}

.social-media-block a{
    color: black;
    font-size: 50px;
}

.social-media-row-1{
    display: flex;
    justify-content: space-evenly;
}

.social-media-row-2{
    display: flex;
    justify-content: space-evenly;
}

.facebook-sm{
    transition: 0.3s;
}

.facebook-sm:hover{
    color: blue;
}

.instagram-sm{
    transition: 0.3s;
}

.instagram-sm:hover{
    color: #e53365;
}

.youtube-sm{
    transition: 0.3s;
}

.youtube-sm:hover{
    color: red;
}

.twitter-sm{
    transition: 0.3s;
}

.twitter-sm:hover{
    color: #5454ff;
}

.twitch-sm{
    transition: 0.3s;
}

.twitch-sm:hover{
    color: purple;
}

.tiktok-sm{
    transition: 0.3s;
}

.tiktok-sm:hover{
    color: #77404b;
}

/* Footer */
footer{
    margin: 50px 0px 0px 0px;
    padding: 10px 40px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.footer-txt{
    color: white;
}

.footer-txt-title{
    font-weight: 600;
    font-size: 20px;
}

.footer-txt-article{
    font-weight: 300;
    font-size: 12px;
}

.footer-img img{
    height: 10px;
}

.footer-icons{
    display: flex;
    gap: 20px;
    margin-top: 5px;
    font-size: 30px;
}

.footer-icons a{
    color: white;
}