@media screen and (max-width: 1700px){
    .main-wrapper{
        width: 100%;
    
    }

    .news-topic-1{
        justify-content: left;
    }
}

@media screen and (max-width: 1350px){
    .news-topic-1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }

    .img-block img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 950px){
    .finals-topic-1{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 860px) {
    

    header {
        display: flex;
        justify-content: space-evenly;
    }

    header nav ul {
        display: none;
    }

    header nav ul li {
        width: 100%;
    }

    header .header-menu-btn {
        display: initial;
    }

    .league-pass-link {
        display: none;
    }

    .sing-in-link {
        display: none;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    .footer-icons{
        flex-wrap: wrap;
    }

    .small-nav{
        top: 85px;
    }


}





@media screen and (max-width: 750px) {
    .banner-block img{
        width: 400px;
    }

    

    .news-topic-1{
        padding: 30px 10px;
    }

    .hidden-txt{
        display: none;
    }

    .dots{
        display: initial;
    }
}

@media screen and (max-width: 700px){
    .news-topic-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .topic-1-block-2{
        align-items: start;
    }
}

@media screen and (max-width: 560px){
    .finals-topic-1-block-2-box{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}

@media screen and (max-width: 535px) {
    .small-nav li{
        padding: 10px 5px;
    }
}

@media screen and (max-width: 490px){
    .news-title{
        font-size: 10px;
    }

    .news-article{
        font-size: 10px;
    }

    .topic-1-block-2-box{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgb(215, 215, 215);
    }
}

@media screen and (max-width: 450px) {
    header {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .banner-block img{
        width: 250px;
    }


    .hidden-word{
        display: none;
    }



    footer{
        font-size: 15px;
    }
}


@media (max-width: 795px){
    footer{
        position: static;
    }
}

@media screen and (max-width: 320px){
    .finals-topic-1-block-2-box img{
        width: 100%;
        height: auto;
    }

}


@media screen and (max-width: 260px) {
    .banner-block img{
        width: 150px;
    }
}