@media screen and (max-width: 1360px) {
    .main-wrapper{
        width: auto;
    }
}

@media screen and (max-width: 860px) {
    header {
        display: flex;
        justify-content: space-evenly;
    }

    header nav ul {
        display: none;
    }

    header nav ul li {
        width: 100%;
    }

    header .header-menu-btn {
        display: initial;
    }

    .league-pass-link {
        display: none;
    }

    .sing-in-link {
        display: none;
    }

    footer{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
    }

    .footer-icons{
        flex-wrap: wrap;
    }


}

@media screen and (max-height: 685px){
    footer{
        position: static;
    }
}

@media screen and (max-width: 540px){
    .checker-wrapper{
        width: 100%;
    }

    .main-wrapper form{
        padding: 10px 10px 20px 10px;
    }
}

@media screen and (max-width: 450px) {
    header {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .main-wrapper{
        padding: 50px 10px;
    }

}

@media screen and (max-width:300px) {
    footer{
        position: static;
    }
}


@media screen and (max-height: 780px){
    footer{
        position: static;
    }
}

