@media screen and (max-width: 1275px){
    .main-team-block{
        width: auto;
    } 
}

@media screen and (max-height: 810px){
    footer{
        position: static;
    }
}

@media screen and (max-width: 860px) {
    header {
        display: flex;
        justify-content: space-evenly;
    }

    header nav ul {
        display: none;
    }

    header nav ul li {
        width: 100%;
    }

    header .header-menu-btn {
        display: initial;
    }

    .league-pass-link {
        display: none;
    }

    .sing-in-link {
        display: none;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    .footer-icons{
        flex-wrap: wrap;
    }

    .small-nav{
        top: 85px;
    }


}

@media screen and (max-width: 795px){
    main{
        padding: 30px 0px 30px 0px;
    }

    .teams-block{
        display: grid;
        grid-template-columns: auto;
    }

    .team-column{
        margin: 0;
    }

    .team-logo-name{
    border-bottom: solid 1px;
    padding: 3px 0px;
    }

    .division-teams{
        margin: 0;
    }

    .team-name{
        margin-bottom: 5px;
    }

    .division-head{
        margin: 40px 0px 5px 0px;
    }
}

@media screen and (max-width: 535px) {
    .small-nav li{
        padding: 10px 5px;
    }
}


@media screen and (max-width: 450px) {
    header {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media screen and (max-width: 400px){
    .hidden-word{
        display: none;
    }

    .main-team-block{
        padding: 30px 5px 20px 5px;
    }

    footer{
        font-size: 15px;
    }
}

@media screen and (max-width: 250px){
    .hidden-team-name{
        display: none;
    }

    .main-team-block-title{
        font-size: 20px;
    }
}

@media (max-width: 795px){
    footer{
        position: static;
    }
}