@media screen and (max-width: 1470px){
    .team-block-list-wrapper{
        display: grid;
        grid-template-columns: auto auto auto auto auto ;
    }
}

@media screen and (max-width: 1225px){
    .order-tickets-block-wrapper{
        width: 100%;
        border-left: none;
        border-right: none;
    }

    .team-block-list-wrapper{
        display: grid;
        grid-template-columns: auto auto auto ;
    }
    
}

@media screen and (max-width: 860px) {

    footer{
        display: flex;
        flex-direction: column;
    }

    .footer-icons{
        flex-wrap: wrap;
    }


}

@media screen and (max-width: 800px) {
    .settings-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .inputs-tickets-block{
        gap: 20px;
    }

    .team-block-list-wrapper{
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 555px){
    .table-cell a{
        padding: 5px;
    }

    .hidden-word{
        display: none;
    }

    .team-block-list-wrapper{
        display: grid;
        grid-template-columns: auto auto;
    }

    .team-block{
        padding: 5px 35px;
    }

}

@media screen and (max-width: 450px){
    .inputs-tickets-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: auto;
    }

    table{
        font-size: 12px;
    }

    table td{
        padding: 3px;
    }
}

@media screen and (max-width: 360px){
    table{
        font-size: 10px;
    }

    .team-block-list-wrapper{
        display: grid;
        grid-template-columns: auto;
    }

    .team-block{
        padding: 15px 15px;
    }
}
