@media screen and (max-width: 1500px) {
    .main-wrapper{
        width: 70%;
    }
    
}

@media screen and (max-height: 885px) {
    footer{
        position: static;
    }
}

@media screen and (max-width: 860px) {
    header {
        display: flex;
        justify-content: space-evenly;
    }

    header nav ul {
        display: none;
    }

    header nav ul li {
        width: 100%;
    }

    header .header-btns{
        display: initial;
    }

    header .header-menu-btn {
        display: initial;
    }

    .league-pass-link {
        display: none;
    }

    .sing-in-link {
        display: none;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    .footer-icons{
        flex-wrap: wrap;
    }

    .main-wrapper{
        background-color: white;
        margin: auto;
        width: 90%;
    }


}


@media screen and (max-width: 460px) {
    header {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .topic-block select{
        width: 100%;
    }

    .private-info-input-block input{
        width: 100%;
    
    }

    .message-block textarea{
        width: 100%;
        
    }

    footer{
        position: static;
    }
}



@media screen and (max-width: 320px){
    main{
        padding: 40px 0px;
    }

    .main-wrapper{
        background-color: white;
        margin: auto;
        width: 100%;
    }

    footer{
        padding: 3px 0px;
        font-size: 13px;
    }
}