@media screen and (max-width: 860px) {
    header {
        display: flex;
        justify-content: space-evenly;
    }

    header nav ul {
        display: none;
    }

    header nav ul li {
        width: 100%;
    }

    header .header-menu-btn {
        display: initial;
    }

    .league-pass-link {
        display: none;
    }

    .sing-in-link {
        display: none;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    .footer-icons{
        flex-wrap: wrap;
    }

    .small-nav{
        top: 85px;
    }



}

@media screen and (max-width: 740px) {
    .row-1-txt-text{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .price-container-wrapper{
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
    }
}

@media screen and (max-width: 615px){
    .main-first-page-title{
        font-size: 30px;
    }

    .main-first-page-txt{
        font-size: 15px;
        padding: 0px;
    }
}

@media screen and (max-width: 665px){
    .button-1-btn{
        display: none;
    }
}

@media screen and (max-width: 665px){
    .compare-table{
        padding: 10px 5px 25px 5px;
        width: auto;
    }

    table td{
        width: auto;
    }

    .row-1-bold-txt{
        font-size: 15px;
    }

    .button-1-title{
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    header {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media screen and (max-width: 405px){
    .tb-btn-wrap{
        flex-direction: column;
        gap: 10px;
        border-radius: 5px;
    }

}

@media screen and (max-width: 330px){
    .price-box-1{
        width: auto;
    }

    .main-first-page{
        padding: auto 3px;
    }

    .compare-title{
        font-size: 20px;
        
    }

    .tb-btn-wrap{
        padding:5px 3px;
    }

    .month{
        font-size: 12px;
    }

    .season{
        font-size: 12px;
    }
}