@media screen and (max-width: 1150px){
    .hidden-name{
        display: none;
    }
}

@media screen and (max-width: 1000px){
    main{
        display: block;
    }

    .hidden-name{
        display: initial;
    }

    .right-side{
        padding: 0px 20px;
    }

}

@media screen and (max-width: 860px) {
    header {
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        top: 0px;
    }

    .small-nav{
        position: sticky;
        top: 85px;
    }

    header nav ul {
        display: none;
    }

    header nav ul li {
        width: 100%;
    }

    header .header-menu-btn {
        display: initial;
    }

    .league-pass-link {
        display: none;
    }

    .sing-in-link {
        display: none;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    .footer-icons{
        flex-wrap: wrap;
    }


}

@media screen and (max-width: 810px) {
    .hidden-name{
        display: none;
    }
    
}

@media screen and (max-width: 760px) {
    .game-score-info{
        font-size: 20px;
    }

}

@media screen and (max-width: 660px) {
    .calendar{
        justify-content: left;
        overflow: auto;
    }
}

@media screen and (max-width: 610px){
    .small-nav li{
        padding: 10px 5px;
    }

    .game-block{
        display: grid;
        grid-template-columns: auto;
    }

    .teams-info{
        border-right: none;
    }

    .tickets-block{
        border-right: none;
    }

    .game-score-info{
        font-size: 30px;
    }

    .season-leaders{
        display: none;
    }

}

@media screen and (max-width: 460px) {
    .teams-info img{
        height: 30px;
    }

    .game-score-info{
        font-size: 20px;
    }

    .hidden-word{
        display: none;
    }
}

@media screen and (max-width: 450px) {
    header {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media screen and (max-width: 375px){
    .game-score-info-block{
        display: flex;
        flex-direction: column;
        gap: 0;

    }
    
    .game-score-info-left{
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 300px) {
    .teams-info{
        display: block;
    }

    .team-block{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .game-score-info-block{
        border-bottom: solid 2px;
        border-top: solid 2px;

    }

    .league-pass-2-btns{
        display: flex;
        flex-direction: column;
    }

    .league-pass-2-logo img{
        height: 20px;
        width: 80px;
    }

    .league-pass-2-txt{
        font-size: 12px;
    }

    
}

@media screen and (max-width: 220px) {
    .left-side{
        padding: 50px 0px;
    }

    .right-side{
        padding: 0px;
    }

    .social-media-row-1{
        display: flex;
        flex-wrap: wrap;
    }

    .social-media-row-2{
        display: flex;
        flex-wrap: wrap;
    }

    .team-block{
        display: grid;
        grid-template-columns: auto ;
    }

    .game-score-info{
        font-size: 17px;
    }

    .team-block{
        gap: 3px;
    }
}