@media screen and (max-width: 1000px) {
    .main-wrapper{
        width: max-content;
    }
}

@media screen and (max-width: 860px) {
    .main-wrapper{
        width: auto;
    }

    header {
        display: flex;
        justify-content: space-evenly;
    }

    header nav ul {
        display: none;
    }

    header nav ul li {
        width: 100%;
    }

    header .header-menu-btn {
        display: initial;
    }

    .league-pass-link {
        display: none;
    }

    .sing-in-link {
        display: none;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    .footer-icons{
        flex-wrap: wrap;
    }


}

@media screen and (max-width: 645px){
    .main-wrapper{
        padding: 50px 5px;
    }

    .checker-wrapper{
        width: 100%;
        justify-content: space-around;
    }
}


@media screen and (max-width: 450px) {
    header {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .checker-wrapper{
        width: 100%;
        justify-content: space-evenly;
    }
}


@media screen and (max-width: 320px) {
    .birdth-info{
        grid-template-columns: auto;
    }
}


@media screen and (max-height: 1400px) {
    footer{
        position: static;
    }
}