@media screen and (max-width: 1500px) {
    .week-players-table-block {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1200px) {
    .teams-rank-table-block {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1000px) {
    main {
        display: block;
    }

    .league-pass-block-2{
        display: none;
    }

}


@media screen and (max-width: 860px) {
    header {
        display: flex;
        justify-content: space-evenly;
    }

    header nav ul {
        display: none;
    }

    header nav ul li {
        width: 100%;
    }

    header .header-menu-btn {
        display: initial;
    }

    .league-pass-link {
        display: none;
    }

    .sing-in-link {
        display: none;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    .footer-icons{
        flex-wrap: wrap;
    }


}

@media screen and (max-width: 700px) {
    .player-block {
        flex-direction: column;
    }

    .slide-1, 
    .slide-2, 
    .slide-3, 
    .slide-4, 
    .slide-5{
        background-position: center;
    }

    .slide-1-txt-box,
    .slide-2-txt-box,
    .slide-3-txt-box,
    .slide-4-txt-box,
    .slide-5-txt-box{
        width: 100%;
        gap: 10px;

    }
}

@media screen and (max-width: 680px) {
    .week-players-table-block {
        display: block;
    }

    .nba-info-block{
        display: block;
    }

}

@media screen and (max-width: 450px) {
    header {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .left-side {
        padding: 0px 0px;
    }

    .right-side{
        padding: 0px 0px;
    }

    .teams-rank-block {
        padding: 10px 20px;
    }

    .week-players-block{
        padding: 10px 20px;
    }

    .trending-block{
        padding: 10px 20px;

    }

    .league-pass-block-1{
        padding: 10px 20px;

    }
    
    .analys-main-block {
        padding: 10px 20px;

    }

    .around-nba-main-block{
        padding: 10px 20px;

    }



    main {
        padding: 20px 0px;
    }

    .slide-1-block,
    .slide-2-block,
    .slide-3-block,
    .slide-4-block,
    .slide-5-block{
        padding: 0px 10px;
    }

    .main-slide-1-title, 
    .main-slide-2-title, 
    .main-slide-3-title, 
    .main-slide-4-title, 
    .main-slide-5-title{
        font-size: 15px;
    }

    .main-slide-1-txt, 
    .main-slide-2-txt, 
    .main-slide-3-txt, 
    .main-slide-4-txt, 
    .main-slide-5-txt{
        font-size: 12px;
    }

    .main-slider-btn{
        padding: 5px 10px;
        font-size: 11px;
    }

}

@media screen and (max-width: 380px) {
    .right-side{
        width: 98%;
    }

    .left-side {
        width: 98%;
    }

    .teams-rank-table {
        width: 98%;
    }

    .teams-rank-table td {
        width: 100px;
    }

    .teams-rank-block {
        width: 100%;
    }

    .teams-rank-block img {
        height: 30px;
    }

    .table-td img{
        height: 30px;
        width: 30px;
    }
    


}

@media screen and (max-width:360px) {
    .right-side{
        margin: 0;
        width: 100%;
    }

    .left-side {
        margin: 0;
        width: 100%;
    }

    .teams-rank-block {
        margin: auto;
        width: 100%;
    }

    .week-players-table {
        width: 100%;
    }

    .week-players-table-block {
        width: 100%;
        margin: auto;
        z-index: 10;
        padding: 0px 5px 0px 3px;
    }

    .week-players-block {
        width: 100%;
        margin: auto;
        margin: 30px 0px;
        padding: 10px 0px;
        text-align: center;
    }

    .week-players-table-block {
        margin: 20px auto;

    }

    .week-players-table-block img {
        margin: auto;
    }

    .teams-rank-title,
    .week-players-title {
        font-size:  14px;
        width: 250px;
        margin: auto;
    }
}

@media screen and (max-width: 320px) {
    .league-pass-1-btns{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .league-pass-1-logo img{
        width: 100px;
        height: 25px;
    }
}

@media screen and (max-width: 300px) {
    main{
        width: 100%;
    }

    .right-side{
        width: 100%;
    }

    .week-players-table {
        display: none;
    }

    .players-achieve {
        display: initial;
    }

    .left-side {
        width: 100%;
        margin: 0;
        overflow: hidden;
    }

    .teams-rank-block {
        width: 100%;
        margin: 0px;
    }

    .teams-rank-table {
        width: 100%;
    }

    .teams-rank-title {
        width: 100%;
    }

    
    .east-title,
    .west-title {
        font-size: 13px;
    }

    .transparent-table-td {
        display: none;
    }

    .week-players-block {
        word-wrap: break-word;
        width: 100%;
    }

    .week-players-title {
        text-align: left;
        font-size: 14px;
    }


    .trending-title{
        text-align: left;
        font-size: 14px;
    }

    .league-pass-1-title{
        text-align: left;
        font-size: 14px;
    }

    .analys-title{
        text-align: left;
        font-size: 14px;
    }

    .around-nba-title{
        text-align: left;
        font-size: 14px;
    }

    .merchandise-title{
        text-align: left;
        font-size: 14px;
    }

    .social-media-title{
        text-align: left;
        font-size: 14px;
    }

    .social-media-block a{
        font-size: 20px;
    }

    .around-nba-main-block img{
        height: 100px;
        width: 150px;
    }
}
